.instrument-image {
  height: 15rem;
  width: 20rem;
  align: auto;
  padding-bottom: 1rem;
  transition: all 1s ease;
  border-radius: 15%;
}

.instrument-image:hover {
  border-radius: 40%;
}

.instrument-tiles {
  margin-left: 3%;
  margin-right: 3%;
}
.welcome {
  font-family: 'Italianno';
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 3px 3px #999999;
  font-size: 7rem;
}

.duet-description {
  font-family: 'Italianno';
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px #999999;
}

.sub-welcome {
  font-family: 'Italianno';
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.instrument-name {
  text-align: center;
  font-family: 'Italianno';
  font-weight: 500;
  font-size: 2rem;
}

.header {
  background-color: #CCCCCC;
}
