.teacher-show-name {
  font-family: 'Italianno';
  margin: 3rem;
  padding-top: 5rem;
  text-align: center;
}

.teacher-show-bio {
  font-family: 'Italianno';
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.teacher-show-photo {
  font-family: 'Italianno';
  margin: 3rem;
  padding-top: 3rem;
}

.show-page-image {
  margin-top: 2rem;
  width: 80%;
  height: auto;
  margin-bottom: 5rem;
  margin-left: 10%;
  margin-right: auto;
}

.google-calendar {
  align: auto;
  height: 50rem;
  width: 95%;
  margin-top: 3rem;
  margin-right: 2%;
  margin-left: 2%
}
