.users {
  padding-left: 3rem;
  padding-right: 3rem;
  /* background: linear-gradient(#ffffff, #ffffff, #ffffff, #999999); */
  padding-bottom: 3rem;
  font-family: 'Italianno';
  border-bottom: 1px solid #999999;
}

.bio {
  margin-top: 5rem;
  font-family: 'Italianno';
}

.index-page-image {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.delete-button {
  float: center;
  margin-top: 5px;
  height: 10px;
  width: 2px;
  color: black;
  background-color: inherit;
}

.delete-button:hover{
  background-color: #999999;
}

.delete-x {
  margin-bottom: 10px;
}

.add-teacher-button {
  text-align: center;
  background-color: inherit;
  color: black;
  font-family: 'Italianno';
  font-size: 2rem;
}

.add-teacher-button:hover{
  background-color: #999999;
}

.center-teacher-button {
  text-align: center;
}

.instrument-lesson-teachers-heading p{
  text-align: center;
  font-family: 'Italianno';
  font-size: 5rem;
  opacity: 1.0;
}

.background-image {
  background: url("https://files.slack.com/files-pri/TB5A3V4P5-FE01T9WJE/old_music_score_background-wallpaper-1920x1200.jpg")  no-repeat;
  background-size: cover;
  height: 18rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.lesson-teacher-heading {
  text-shadow: 2px 2px #999999;
}

.small-picture {
  height: 50%;
  width: 30%;
  /* margin-left: 35%;
  margin-right: 35%; */
}

.name-city {
  padding-top: 5rem;
  text-align: center;
}

.x {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
